# Sentiment Labling to the reviews

In [1]:
from textblob import TextBlob
import pandas as pd
import streamlit as st
import cleantext

def sentiment_analyze(x):
    
    blob1 = TextBlob(str(x))
    score = blob1.sentiment.polarity
    
    if score >= 0.5:
        return 'Positive'
    elif score <= -0.5:
        return 'Negative'
    else:
        return 'Neutral'


file = r'C:\Users\itw\Downloads\all csv\merged_reviews.csv'
df = pd.read_csv(file)
df['sentiment'] = df['review'].apply(sentiment_analyze)

In [2]:
df
labled_file = r'C:\Users\itw\Downloads\all csv\labled_data.csv'
df.to_csv(labled_file, index=False)

,reviewer_name,review_time,review,hotel_name,sentiment
0,Muhammad Bilal Aqeel,a year ago,Food is very average. I don't have good experi...,Citi Hotel and Restaurant,Neutral
1,Arslan Nadeem,a year ago,Room are really comfortable neat n clean atmo...,Citi Hotel and Restaurant,Neutral
2,Babar Jamil Rajput,11 months ago,"Citi Hotel, the oldest hotel in Sheikhupura. ...",Citi Hotel and Restaurant,Neutral
3,Shahziab Shahziab,a week ago,nice and Good,Citi Hotel and Restaurant,Positive
4,Ayaz Shabbir Advocate,a month ago,I like this hotel for delicious and spicy dish...,Citi Hotel and Restaurant,Positive
...,...,...,...,...,...
1328,Hamza Badar,a month ago on,The accommodations at Serena Hotel were exquis...,Serena hotel islamabad,Positive
1329,zainab imad,a month ago on,My two-day stay at Serena Hotel Islamabad was ...,Serena hotel islamabad,Positive
1330,Salal Khan,a month ago on,"- ""Extremely well maintained Hotel with a touc...",Serena hotel islamabad,Positive
1331,Aimen S,a month ago on,Had delightful lunch at Rakaposhi with friends...,Serena hotel islamabad,Positive
1332,Aleem Manzoor,a month ago on,Exceptional stay at this hotel! From the warm ...,Serena hotel islamabad,Positive

# Counting sentiments

In [3]:
df['sentiment'].value_counts()

sentiment
Neutral     751
Positive    576
Negative      6
Name: count, dtype: int64

# Checking for null values in dataset

In [4]:
df.isnull().sum()

reviewer_name    0
review_time      0
review           0
hotel_name       0
sentiment        0
dtype: int64

# Scoring the reviews

In [2]:
from textblob import TextBlob
import pandas as pd

def score_analyze(x):
    
    blob1 = TextBlob(str(x))
    score = blob1.sentiment.polarity
    return 3.0 + (score * 3.0)


file = r'C:\Users\itw\Downloads\all csv\labled_data.csv'
df = pd.read_csv(file)
df['score'] = df['review'].apply(score_analyze).round(1)

# Finding Average Review Score of all hotels

In [3]:
hotel_scores = df.groupby('hotel_name')['score'].mean().reset_index().round(1)
hotel_scores.rename(columns={'score': 'review_score'}, inplace=True)
hotel_scores

                          hotel_name  review_score
0                Avari Tower Karachi           4.3
1   Avari Xpress Residence islamabad           4.4
2         Beach Luxury hotel karachi           4.5
3          Citi Hotel and Restaurant           4.3
4               Faletti hotel lahore           3.9
5            Gateway Islamabad hotel           4.4
6              Grand Islamabad hotel           4.4
7                Indigo Hotel lahore           4.2
8     Karachi Marriott hotel karachi           4.3
9            Movenpick Karachi hotel           4.4
10   Pearl Continental Hotel Karachi           4.4
11          Pearl Continental lahore           4.1
12            Serena hotel islamabad           4.4
13   Sultan Grand Hotel & Restaurant           4.2
14      Taj Mahal Restaurant & Hotel           3.7
15                  The Nishat Hotel           4.3
16               lahore avari hotels           4.4
17          luxus grand hotel lahore           4.4
18          margalla hotel islamabad           4.3

# Merging it into the hotel_info File

In [ ]:
file_hotel_info = r'C:\Users\itw\Downloads\all csv\merged_hotel_info.csv'
df_hotel_info = pd.read_csv(file_hotel_info)

# Ensure hotel_name columns are stripped of whitespace and converted to lowercase
df_hotel_info['hotel_name'] = df_hotel_info['hotel_name'].str.strip().str.lower()
hotel_scores['hotel_name'] = hotel_scores['hotel_name'].str.strip().str.lower()

# Merge the hotel_info DataFrame with the hotel_scores DataFrame
df_hotel_info = df_hotel_info.merge(hotel_scores, on='hotel_name', how='left')